@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply w-full h-full bg-[#F4F3FB];
}

h1,h2,h3,h4 {
  @apply text-lg  sm:text-xl md:text-2xl;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
-webkit-text-fill-color: #3c3c3f;
background-color: transparent;
transition: background-color 5000s ease-in-out 0s;
}

.page {
  @apply container mx-auto px-2 sm:px-0;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip {
  transform: rotateY(180deg);
}

.front, 
.back {
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

.back {
  transform: rotateY(180deg);
}




